{% extends 'base.html.twig' %}

{% block alert %}
    <h3>Lista Cliente</h3>
    {{  parent()  }}
{% endblock %}
{% block body %}
    <div class="table-responsive">
        <table class="table table-striped table-sm" id="list-clientes">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Mail</th>
                <th>Grupo Cliente</th>
                <th class="text-center">Accion</th>
            </tr>
            </thead>
            <tbody>
            {% for cliente in clientes %}
                <tr data-id="{{ cliente.id }}">
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.apellido }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>{{ grupos[cliente.grupoCliente] }}</td>
                    <td class="text-center">
                        <a href="{{ path('edit-client', {'id': cliente.id }) }}" type="button" class="btn btn-info btn-sm">Editar</a>
                        <button type="button" class="remove-client btn btn-danger btn-sm">Eliminar</button>
                    </td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/clientes/js/clientes.js') }}"></script>
{% endblock %}