{% extends 'base.html.twig' %}
{% use 'ClientesBundle:Cliente:form.html.twig' %}
{% block body %}
    <h3>Eliminar Cliente</h3>
    <p class="text-left"><span class="font-weight-bold">Nombre:</span> {{ cliente.nombre }}</p>
    <p class="text-left"><span class="font-weight-bold">Apellido:</span> {{ cliente.apellido }}</p>
    <p class="text-left"><span class="font-weight-bold">Email:</span> {{ cliente.email }}</p>
    <p class="text-left"><span class="font-weight-bold">Grupo Cliente:</span> {{ cliente.grupoCliente }}</p>
    <p class="text-left"><span class="font-weight-bold">Observaciones:</span> {{ cliente.observaciones }}</p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="{{ path('list-client') }}" type="button" class="btn btn-secondary">Cancelar</a>
    {{ form_end(form) }}
{% endblock %}